*{
  box-sizing: border-box;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.App {
  text-align: center;
  padding: 100px 150px;
  background-image: url("./assets/favoritePage.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.home-page{
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 50px;
  height: 100vh;
  position: relative;
}
.home-page :first-child{
  width: 25%;
  z-index: 2;
}
.home-page :nth-child(2){
  width: 20%;
  position: absolute;
  top:150px;
  right:400px;
  z-index: 10;
}
.home-page :nth-child(3){
  width: 20%;
  position: absolute;
  top:50px;
  left:370px;
  z-index: 0;
}

.favorite-page{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.favorite-item{
display: flex;
justify-content: center;
}
.countries-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.countries-page :nth-child(2){
  align-self: flex-start;
}
.country-item ul{
  display: "flex";
  flex-direction: "column";
  align-items: "center";
}